/* .title-section{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} */

.movie-card{
    width: 350px;
    height: 450px;
    border: 3px solid rgb(255, 0, 0);
 }

 .movie-card:hover{
    transform: scale(1.1);
    transition: all .3s;
    cursor: pointer;
}

.title-card{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
}
