.bevande-card{
    width: 350px;
    height: 450px;
    border: 3px solid red;
 }

 .bevande-card:hover{
    transform: scale(1.1);
    transition: all .3s;
    cursor: pointer;
}

.title-card{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
}

.design-underline{
    position: relative;
}

.design-underline::after{
    position: absolute;
    content: '';
    bottom: -10%;
    left: 0%;
    width: 15%;
    height: 10%;
    background-color:red;
}
.design-underline2{
    position: relative;
}

.design-underline2::after{
    position: absolute;
    content: '';
    bottom: -10%;
    left: 0%;
    width: 35%;
    height: 10%;
    background-color:red;
}