.menu-banner-img{
    /* background-image: url(../assets/img/hero.png);
    height: 575px; */
    background-repeat: no-repeat;
    background-position: center;
   
   }
   @media screen and (min-width:768px){
       .menu-banner-img{
           background-image: url(../assets/img/menù\ banner.png);
           height: 575px;
       }
   }